In [1]:
d <- read.csv('output.csv')

In [2]:
head(d)

  cand inte tier char     amou
1 23   0.30 2    10000.00 0
2 41   0.00 1       33.33 0
3 10   0.20 1        0.00 0
4 17   0.00 1      571.54 0
5 23   0.22 1      250.00 0
6 16   0.31 2        0.00 0

In [14]:
mean(d$char)

[1] 7853.706

In [15]:
median(d$char)

[1] 424.42

the mean is very distant from the median. A few client work a lot on Upwork and they contribute a lot to the mean

In [13]:
tapply(d$cand, d$tier, mean)

       1        2        3
22.94715 23.09567 24.03679

In [9]:
tapply(d$inte, d$tier, mean)

        1         2         3
0.1164228 0.1193274 0.1099331

In [6]:
tapply(d$char, d$tier, mean)

       1        2        3
6456.669 8377.609 8980.299

There doesn't seem to be a significant difference in number of candidates, interest ratio or total charge for the client depending on the tier. It can just be obsevred that offers about the cheapest professionals are issued in average by clients with a lower total charge

In [7]:
tapply(d$char, d$tier, median)

      1       2       3
373.375 478.340 479.950

In [12]:
tapply(d$cand, d$tier, median)

 1  2  3
19 19 20